@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', sans-serif;
  /* box-sizing: inherit; */
  box-sizing: border-box;
  outline: none;
}

html {
  box-sizing: border-box;
}

body {
  color: #eee;
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 5rem;
  overflow: hidden;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}

.between {
  font-size: .8rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  position: relative;
}


.content h1 {
  font-size: 2.4rem;
  width: 100%;
}

.number {
  background: #eee;
  margin: auto;
  font-size: 3.3rem;
  padding: 2rem 3rem;
  color: #333;
}

.number::before {
  content: '';
  position: absolute;
  top: 70%;
  height: .5rem;
  background: #eee;
  z-index: -1;
  width: 100%;
  left: 50%;
  transform: translate(-50%,-50%);
}

main {
  display: flex;
  gap: 3rem;
  justify-content: space-around;
}

.guess {
  background: transparent;
  border: 3px solid #eee;
  color: inherit;
  font-size: 2.5rem;
  padding: 2rem;
  width: 15rem;
  text-align: center;
  display: block;
  margin: 0 auto 1rem;
}

.left, .right {
  margin: auto;

}

.left {
  width: 50%;
}

.right {
  width: 50%;
  text-align: left;
}

.message {
  margin-bottom: 3rem;
  font-size: 1.3rem;
}

.label-score {
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  body {
    gap: 2rem;
  }

  main {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  .left, .right {
    width: auto;
  }

}